@import './theme.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color 0.2s, color 0.2s ease-in-out !important;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--color-background);
}

#search-results li.move.active {
	background-color: #484848;
	font-weight: bold;
}

.mr-15 {
	margin-right: 15px;
}

.rotate-anim {
	animation: rotate 1s;
	-moz-animation: rotate 1s infinite;
	-webkit-animation: rotate 1s infinite;
}

@keyframes rotate {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 360deg;
	}
}

@-moz-keyframes rotate {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 360deg;
	}
}

@-webkit-keyframes rotate {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 360deg;
	}
}