[data-theme="light"] {
  --color-primary: #e4efff;
  --color-accent: #e57373;
  --color-foreground: #444;
  --color-background: #fff;
}

[data-theme="dark"] {
  --color-primary: #273677;
  --color-accent: #e47f17;
  --color-foreground: #111;
  --color-background: #ddd;
}