* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#search-results li.move.active {
	background-color: #484848;
	font-weight: bold;
}